@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
/* Header section styling */
.header {
    padding:20px 50px;
    font-family: "Poppins", sans-serif !important;
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
   }
 
.nav-list {
    display: flex;
    list-style-type: none;
    gap: 30px;
}

.nav-list li a {
    text-decoration: none;
    color: #242323;
    font-weight: 700;
}

.singup-btn {
 background-color: #000;
 color: #fff !important;
 padding: 5px 15px;
 border-radius: 5px;
}
/* styles for the hero section */
.hero-container {
    display: flex;
    justify-content: space-around;
    background-color:#F4F6F5;
    border-radius: 30px;
    margin:20px 50px;
    font-family: "Poppins", sans-serif !important;
    padding-top: 25px;
}
.text-container {
    padding-top: 30px !important;
}
.let, .explore, .unique, .clothes {
    font-size: 57px;
    font-weight: 900;
    line-height: 75px;
}
.hero-sentence {
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
}
.btn-container {
    display: flex;
    align-items: center;
    gap: 25px;
    margin-top: 25px;
}
.btn-container a {
    border:none;
    background-color: #000;
    text-decoration: none;
    color: #fff;
    padding: 10px 15px;
    border-radius: 5px;
    font-size: 19px;

}
.image-container img {
    width: 550px;
}


/* hello world */